body {
  padding-left: 1em;
  padding-right:20em;
  font-family: Georgia, "Abecedario",
        Times, serif;
  color: sienna;
  background-color: olive;
  background:url(images/bookandmovies.jpg) no-repeat;
  background-size:25%;
  background-position:1050px 200px;
  }

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 1.0em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: black ;
  font-family: "Aspartame BRK";
  text-decoration:none;
  }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
