{% extends "base.html" %}

{% block title %} Welcome Note {% endblock %}

{% block content %}
<div>
<fieldset>
<form  action="/changepassword/{{usersId}}/" method="post">
{% csrf_token %}

<strong>Change Password</strong></br>
<label>old password</label><input type="password" name="old_password" value="" maxlength="100"/></br></br>
<label>new password</label><input type="password" name="new_password" value="" maxlength="100"/></br>
<input type="submit"  value="Confirm" maxlength="100" /><br>
</fieldset></div>
</form>
{% endblock content %}




