{% extends "base.html" %}

{% block title %} Welcome Note {% endblock %}

{% block content %}
<fieldset>

<legend><h1 style="color:olive">{{Movie.title}}</h1></legend>
<p> Imdb rating :  <strong>{{ Movie.rating }}</strong>
<br> Description :  <strong>{{ Movie.description }}</strong> </br>

<br> Genre :  <strong>{{ Movie.genre }}</strong> </br>

<br> Release Date :  <strong>{{ Movie.date }}</strong> </br>




</p>

<br> Rating given :  <strong>{{ rated_row.rating }}</strong> </br>

</fieldset>

{% endblock content %}
<!--
<div> <img src = "{{Movie.img}}"+".jpg" /> 
</div>
