{% extends "base.html" %}

{% block title %} Welcome Note {% endblock %}

{% block content %}


<div>
<fieldset>
<form action="/" method="get">
<h1>
<legend style="color:olive">{{current_user.user_name}}</legend></h1>
<h3><a href="/{{current_user.id}}/home/"><label style="float:right">HOME</label></a></h3></br>
<label style="float:right">Contacts:</label></br>
<label style="float:right">{{current_user.mail_id}}</label>
</br>
<label style="float:right">{{current_user.phonenumber}}</label>
</br></br>

<a href="/changepassword/{{current_user.id}}/">Change Password</a></br></br>

<h2><strong>Movies rated by {{current_user.user_name}}</strong></h2>
{% for movie in movies %}
{% if forloop.counter < 20 %}
 <p> <h3> <a href="/{{current_user.id}}/movie/{{movie.id}}/"><strong>  {{movie.movie_name}} </strong> </a> </h3>
 </p>
{% endif %}
{% endfor %}

{% endblock content %}
